.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #61dafb;
  min-height: 100vh;
  margin: 0;
  gap: 10px; /* Ajusta el espacio entre los elementos */
}

.App h1 {
  margin: 0; /* Elimina el margen predeterminado del h1 */
}

.App button {
  margin: 0; /* Elimina el margen predeterminado del botón */
}
